$primary: #ffb0c8;
$primary-container: #ee5c95;
$tertiary: #8a77cd;
$surface: #0d121e;
$surface-container: #151d30;
$on-surface: #f3dde2;
$on-surface-variant: #ddbfc6;
$outline: #a58a91;
$outline-variant: #2e416a;
$surface-container-high: #1b263f;
$surface-container-low: #121a2a;
$on-primary: #650033;
$secondary: #ffb0c8;
$error: #ffb4ab;
