@import "colors.css";

#battery {
  margin: 4px 5px;
  padding: 6px 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: #ffffff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#battery:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#clock {
  margin: 4px 5px;
  padding: 6px 10px 6px 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: #ffffff;
}
